<div class="container">
            <div class="collection__header{% if collection.image and section.settings.show_collection_image %} collection__header--img{% endif %}">
                {% if collection.image and section.settings.show_collection_image %}
                    <div class="collection__header-media o-ratio o-ratio--{{ section.settings.collection_image_height }}" style="background-image: url('{{ collection.image | img_url: '1x1' }}')">
                        <div class="collection__header-img collection__header-img--{{ section.id }} u-bg-cover u-bg-grey img-lazyload lazyload js"
                            data-bgset="{% include 'bgset', image: collection.image %}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            style="background-position: center {{ section.settings.image_alignment }};"></div>
                        <noscript>
                            <div class="collection__header-img collection__header-img--{{ section.id }} u-bg-cover u-bg-grey"
                                style="background-position: center {{ section.settings.image_alignment }};background-image: url('{{ collection.image | img_url: '1400x' }});">
                            </div>
                        </noscript>
                    </div>
                {% endif %}
                <div class="collection__header-info">
                    <div class="section__title collection__header-info__title{% if section.settings.center_title %} section__title--center{% endif %}">
                        <h1 class="section__title-text collection__header-info__title-text">{{ collection.title }}</h1>
                    </div>
                  {%- if collection.description != blank -%}
                  <div class="collection-description rte">
                    {% if collection.description contains '<!-- split -->' %}
                      {{ collection.description | split: '<!-- split -->' | first }}      
                    {% else %}
                      {{ collection.description }}
                    {% endif %}
                    {% if collection.description != blank %}
                        <div class="collection__header-info__text rte rte--header">
                            {{ collection.description }}
                        </div>
                    {% endif %}
                  <hr />
                </div>
            </div>